* {
  font-size: 16px !important;
  color:#003841!important;
}

.company_data {
  position: absolute !important;
  margin-top: -45px !important;
}
.company_street, .phone_header {
  font-size: 12px !important;
}

.bank-data {
  font-size: 10px !important;
  font-weight: bold !important;
}

.privacy {
  font-size: 8px !important;
  text-align: center;
}

h2 span {
  font-weight: bold!important;
  font-size: 17px!important;
}

.partner_address{
  position: absolute;
  top: 150px!important;
  width:450px;
}
.picking_partner_address{
  position: absolute;
  top: 100px!important;
  width:450px;
}

.o_total td {
  font-weight: bold!important;
}

.commercial_info,
.paginator{
  font-size:12px!important;
}

.list-inline span {
  font-size: 12px!important;
}
.very-small {
  font-size: 10px!important;
  font-weight: bold !important;
}
.privacy {
  font-size: 8px !important;
}
